.footer-form {
  background: #101A25;
  width: 100vw;
  height: 104px;
  color: white;
  position: relative;
  bottom: 0;
}
.footer-row {
  position: absolute;
  top: 40%;
  width: 100%;
  padding: 0px 144px;
}
@media only screen and (min-width: 1200px) and (max-width: 1381px)  {
  .footer-row {
    padding: 0px 50px;
  }
}
@media only screen and (min-width: 375px) and (max-width: 768px)  {
  .footer-form {
    height: 100%;
  }
}
